body {
  background-image: url(img/skyB.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  row-gap: 10px;
  height: 80vh;
  transition: 0.3s;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 70%;
  height: 80vh;
  backdrop-filter: blur(1px);
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px #6ea4b775;
}

.logo {
  font-size: 26px;
  color: aliceblue;
  text-align: left;
  height: 20vh;
}

.sr {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#int {
  border-radius: 15px;
  border-color: rgba(240, 248, 255, 0.532);
  height: 7vh;
  color: rgba(31, 19, 83, 0.795);
  width: 30vw;
  background-color: rgba(240, 248, 255, 0.269);
  outline: none;
}

#dark {
  border-color: rgba(240, 248, 255, 0.532);
  height: 7vh;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(245, 245, 245);
  backdrop-filter: 10px;
  background-color: rgba(255, 255, 255, 0.096);
}

body.darkMode #dark {

  transition: 0.3s;
  backdrop-filter: 10px;
}

body.darkMode .app {
  box-shadow: 10px 10px 10px 10px #00000075;
}
body.darkMode #int{
  color: #fafafafd;
} 

.btnSr {
  border-color: rgba(240, 248, 255, 0.532);
  border-radius: 50px;
  width: 7%;
  height: 8.5vh;
  background-color: rgba(44, 166, 170, 0.612);
  cursor: pointer;
}

.afficher {
  margin-top: 2vh;
  background-color: rgba(240, 255, 255, 0.454);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  align-self: center;
  height: 90%;

}

.icon {
  width: 60px;
  height: 60px;
}

.des {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: -webkit-fill-available;
  font-size: 25px;
  color: rgb(105, 83, 83);
}

#temp {
  font-size: 36px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 36px;

}


body.darkMode {
  transition: 0.3s;
  color: white;
  background-image: url(img/dark3.avif);
}

body.darkMode .des {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: -webkit-fill-available;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {

  body {
    height: 100%;
    flex-direction: column;
    padding: 10px;
  }

  .app {
    width: 95%; 
    height: auto; 
    min-height: 80vh; 
    margin-top: 20px;
    padding-bottom: 20px;
  }

 
  #int {
    width: 60%;
    height: 50px; 
    font-size: 16px; 
  }

  .btnSr {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .logo {
    font-size: 20px;
    height: 10%;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  
  .afficher {
    width: 80%;
    
  }

 
  #temp {
    font-size: 25px;
  }

  h2 {
    font-size: 28px;
  }

 
  .des {
    font-size: 15px;
    flex-wrap: wrap; /* Ila ma9dhach l'espace, rja3 l str */
  }
  
  .icon {
      width: 20px;
      height: 20px;
  }
}