body {
  background-image: url(img/skyB.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  row-gap: 10px;
  height: 80vh;
 font-family: sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 70%;
  height: 80vh;
  backdrop-filter: blur(1px);
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px #6ea4b775;
}

.logo {
  font-size: 26px;
  color: aliceblue;
  text-align: left;
  height: 20vh;
}
.sr {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
#int {
  border-radius: 15px;
  border-color: rgba(240, 248, 255, 0.532);
  height: 7vh;
  color: rgba(31, 19, 83, 0.795);
  width: 30vw;
  background-color: rgba(240, 248, 255, 0.269);
  outline: none;
}
.btnSr {
  border-color: rgba(240, 248, 255, 0.532);
  border-radius: 50px;
  width: 7%;
  height: 8.5vh;
  background-color: rgba(44, 166, 170, 0.612);
  cursor: pointer;
}
.afficher{
    background-color: rgba(240, 255, 255, 0.454);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    align-self: center;
    height: 100%;
    
}
.sun{
    width: 60px;
    height: 60px;   
   }
.des{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    font-size: 25px;
    color: rgb(105, 83, 83);
}
h2{
    color: rgb(0, 0, 0);
    font-size: 36px;
    
}
 

        body.dark-mode {
           
            color: white;
            background-image: url(img/dark3.avif);
        }
body.dark-mode .des{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
        
        .checkbox-mkhbbi {
            display: none; 
        }

        .label-switch {
            background-color: #ccc; 
            width: 60px;
            height: 30px;
            border-radius: 30px; 
            display: inline-block;
            position: relative;
            cursor: pointer;
        }

       
        .label-switch::after {
            content: "";
            background-color: white;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
            transition: 0.3s;
        }

      
        .checkbox-mkhbbi:checked + .label-switch {
            background-color: #4CAF50; 
        }

        
        .checkbox-mkhbbi:checked + .label-switch::after {
            transform: translateX(30px);
        }